{% extends "base.html" %}

{% block content %}
    <form method="get" action="">
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Translate" />
    </form>
    {% if form.errors %}
        <h2>Sorry :(</h2>
        <p>There were some errors with your submission</p>
        {{ form.errors }}
    {% endif %}
    {% if results %}
        {% if results.success %}
            <h2>Great Success!</h2>
            <div class="code">
                <code>
                    $ {{ results.result }}
                </code>
            </div>
            <p>If this doesn't look right, <a href="{% url translation_feedback %}">please let us know.</a>
        {% else %}
            <h2>Sorry :(</h2>
            <p>{{ results.result }}</p>
            <p>If you have a suggestion for how this should be translated, <a href="{% url translation_feedback %}">let us know!</a>
        {% endif %}
    {% endif %}
    <hr />
    <p><a href="{% url translation_help %}">Interested in helping out?</a></p>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
{% endblock %}
