body {
    background-color: #26393D;
    font-family: "Trebuchet MS", sans-serif;
}

#content-holder {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 5%;
}

#content {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.898);
    outline: 4px solid rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    padding-bottom: 15px;
}

#content h1, #content h1 a {
    padding-top: 5px;
    text-decoration: none;
    color: black;
}

#id_command {
    width: 73%;
}

.code {
    border: 3px solid #333333;
    background-color: #CCCCCC;
    padding: 2px;
    width: 73%;
}

#footer {
    margin-left: 200px;
    margin-right: 200px;
}

#footer p, #footer p a {
    color: white;
    text-decoration: none;
}
