<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}The VCS Translator{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
    </head>
    <body>
        <div id="content-holder">
            <div id="content">
                <h1><a href="{% url home %}">The VCS Translator</a></h1>
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            <p>
                Built by <a href="http://alexgaynor.net">Alex Gaynor</a>.
                Copyright Alex Gaynor 2011.
                <a href="https://github.com/alex/vcs-translator">Get the code.</a>
            </p>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        {% block extra_body %}{% endblock %}
    </body>
</html>
